---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '@/components/PostCard.vue';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>包含「{tag}」标签的文章</p>
  <div class="flex flex-col py-60 w-5/6 md:w-3/4 2xl:w-1/2">
    {posts.map((post) => <PostCard post={post}></PostCard>)}
</div>
</BaseLayout>