---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('./posts/*.md');
const title = "博客";
---

<BaseLayout pageTitle="Blog">
  <h1>{title}</h1>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {allPosts.map((post) => <li><a class="link-default" href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</BaseLayout>