---
import BaseLayout from "../layouts/BaseLayout.astro"
import HomePage from "@/components/HomePage.vue"

const allPosts = await Astro.glob('./posts/*.md');
---
<BaseLayout pageTitle="Home">
	<div class="flex flex-col justify-center items-center">
		<HomePage posts={allPosts}/>
	</div>
</BaseLayout>

<style>
.blue{
	color:var(--primary)
}
</style>
