---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostCard from "@/components/PostCard.vue";
import { getPosts } from "@/utils/collections"
import { getTagColor,setTags } from "@/utils/tagColor"
import CoverCard from "@/components/CoverCard.astro";

const posts = await getPosts();

const tags = [...new Set(posts.map(entry => entry.data.tags).flat())];
let colorfulTags:any = {}
tags.forEach((tag,i) => {
	colorfulTags[tag] = getTagColor()[i % (Object.keys(getTagColor()).length / 2)]
})
setTags(colorfulTags)
---
<BaseLayout pageTitle="Home">
	<CoverCard />
	<!-- {JSON.stringify(config)} -->
	<div class="flex flex-col card-width">
        {posts.map((post) => <PostCard post={post}></PostCard>)}
    </div>
</BaseLayout>

<style>
.blue{
	color:var(--primary)
}
</style>
