---
import { config } from '@/store/config';
import HamburNavBar from './HamburNavBar.astro'

const links = config.menus
const logo = config.logo
const sitename = config.sitename
---
<nav class=" w-full fixed z-10">
    <HamburNavBar />
    <div class="justify-between items-center sm:flex hidden rounded-b-md h-16 px-20 bg-[--nav-background-color] text-[--font-color] shadow-md">
        <div class="flex items-center">
            <img class="w-10 h-10" src={logo}>
            <span>{sitename}</span>
        </div>
        <div>
            {
                links.map((link:any) => (
                    <a class=" px-2 hover:text-[--primary]" href={link.url}>{link.name} </a>
                ))
            }

        </div>
        <div class="flex items-center" @click="console.log('click')">
            <img class="w-10 h-10" src="/public/favicon.svg">
            <span>Switch</span>
        </div>
    </div>
</nav>