---
import { ViewTransitions } from 'astro:transitions';
import Config from '@/store/config';

import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro';
import GlobalStyles from '@/components/GlobalStyles.astro';

import { getPosts } from "@/utils/collections"
import { getTagColor,setTags } from "@/utils/tagColor"

const config = Config.getConfig()
const iconfont = config.iconfontUrl;
console.log(iconfont)
const { pageTitle } = Astro.props

const posts = await getPosts();
const tags = [...new Set(posts.map(entry => entry.data.tags).flat())];
let colorfulTags:any = {}
tags.forEach((tag,i) => {
	colorfulTags[tag] = getTagColor()[i % (Object.keys(getTagColor()).length / 2)]
})
setTags(colorfulTags)
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href={iconfont}>
		<script src="../src/store/mathjax-config.js" defer></script>
		<!-- Set the theme before the page is rendered to avoid a flash -->
		<script is:inline>
			const isDark = localStorage.getItem('theme') === 'dark';
			const htmlElement = document.documentElement;
			console.log(1231)
			if(isDark){
				htmlElement.classList.remove('light');
				htmlElement.classList.add('dark');
			}else{
				htmlElement.classList.remove('dark');
				htmlElement.classList.add('light');
			}
		</script>
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
        <Navbar />
		<div class="flex flex-col justify-center items-center pt-16">
			<slot />
		</div>
        <Footer />
        <GlobalStyles />
	</body>
</html>

<style is:global> 

</style>