---
import { ViewTransitions } from 'astro:transitions';

import Navbar from '@/components/Navbar.vue'
import Footer from '@/components/Footer.vue';
import GlobalStyles from '@/components/GlobalStyles.astro';
const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
        <Navbar client:load/>
		<div class="flex flex-col justify-center items-center pt-12">
			<slot />
		</div>
        <Footer />
        <GlobalStyles />
	</body>
</html>

<style is:global> 

</style>